code {
    color: "#AAAAAA";
}

.App {
  text-align: center;
  background-color: #282c34;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

  
@media only screen and (min-width: 1024px) {
    .App-header {
        width: 60%;
    }
}


.textarea {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    margin-top: 8px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: #1b212c;
    color: #AAAAAA;
    font-size: 16px;
    resize: none;
    overflow-y: auto;
    filter: drop-shadow(1px 1px 0px '#666');
}